@charset "UTF-8";
@import "./normalize.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

input {
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 2px solid rgb(35, 101, 26);
}

.main {
  width: 70%;
  min-width: 600px;
  margin: 100px auto;
  padding: 90px 80px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.title {
  margin: 0px 0px 40px;
  text-align: center;
  font-size: 54px;
}

.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 35px;
}
.reg-form__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.reg-form__consent-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.reg-form__input:not(.reg-form__input--radio, .reg-form__input--checkbox) {
  height: 90px;
}
.reg-form__input {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
}
.reg-form__input::-moz-placeholder {
  font-style: italic;
  opacity: 0.7;
}
.reg-form__input::placeholder, .reg-form__select:invalid {
  font-style: italic;
  opacity: 0.7;
}
.reg-form__select {
  max-width: 100%;
}
.reg-form__select:invalid {
  color: gray;
}
.reg-form__radio-groups {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.reg-form__radio-group {
  display: flex;
  gap: 20px;
  align-items: center;
}
.reg-form__input--radio, .reg-form__input--checkbox {
  width: 40px;
  height: 40px;
}
.reg-form__input--checkbox:checked, .reg-form__input--radio:checked {
  accent-color: rgb(35, 101, 26);
}
.reg-form__btn {
  width: 400px;
  height: 90px;
  border: none;
  border-radius: 20px;
  background-color: rgb(35, 101, 26);
  color: white;
  cursor: pointer;
}
.reg-form__btn:disabled {
  background-color: rgb(94, 151, 86);
  cursor: default;
}
.reg-form__tips, .reg-form__error-msg {
  display: none;
  align-self: center;
  font-size: 24px;
  font-style: italic;
  color: red;
}

.done {
  color: rgb(94, 151, 86);
}

.done::before {
  content: "✓";
}